<div class="container">
    <h2 class="text-center">Game Nr. {{gameNumber}}</h2>
    <h4>{{result}}</h4>

    <table class="table">
        <thead>
            <tr>
                <!-- <th></th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of numbers" class="row">
                <td *ngFor="let j of numbers" class="col-4">
                    <button class="btn btn-outline-primary mx-auto  " (click)="fieldClicked(i,j)"
                        [disabled]="result != ''">{{getSymbol(field[i][j])}}</button>
                    <!--⠀-->
                </td>
            </tr>
        </tbody>
    </table>
</div>